[2017-04-26 12:30] garethbradley opened #3 "Window minimised rather than closed on OS X"
You have to manually right click on the app icon and quit in order to close the Electron window. I assume the desired behaviour is to quit when exiting the app.

[2017-05-11 11:31] mike-goodwin opened #10 "error on first run"
The application gives an error (to do with autoupdate) on first run

[2017-05-19 17:40] mike-goodwin commented on #3
fixed in release 0.1.26

[2017-05-19 17:40] #3 closed

[2017-05-19 17:41] mike-goodwin commented on #10
fixed in release 0.1.26

[2017-05-19 17:41] #10 closed

[2017-05-19 17:41] garethbradley commented on #3
Phew, good news. Thanks

[2017-05-19 18:42] mike-goodwin commented on #3
Sarky git. Honestly, I don't know why I bother...

On 19 May 2017 at 18:41, Gareth Bradley <notifications@github.com> wrote:

--
*Mike Goodwin*
OWASP Newcastle UK Chapter Leader
<https://www.owasp.org/index.php/Newcastle>
OWASP Threat Dragon Project Leader
<https://github.com/mike-goodwin/owasp-threat-dragon>
@theblacklabguy

[2017-08-11 10:17] jgadsden opened #18 "Possible to lose components from diagram editor pane"
If I open up a threat model and start editing it, then use the View->Reload function, I get the error message '[Error] path must be a string or a buffer' and the diagram title is stuck on 'Loading ...' with no components in the diagram editor pane. I am using version (0.1.26) direct from this repo on Trisquel linux.
This is not a big issue at all - it recovers and the error is noticable and avoida

[2017-10-02 07:22] Wingless-Archangel opened #20 "known vulnerable"
not sure you are aware of it or not but it's good to upgrade your required dependency to the latest stable version

[Dependency-Check Report.pdf](https://github.com/mike-goodwin/owasp-threat-dragon-desktop/files/1348133/Dependency-Check.Report.pdf)

[2017-10-13 22:49] mike-goodwin commented on #20
Thanks for the notification. I've had an enforced break from the project for a while but I'm back on it now and will adress this.

FYI - I use [Snyk](https://snyk.io/) on the project. It does a similar job to Dependency Check, but it can also automagically make pull requests to update versions and do monkey patches in some cases too. Worth taking a look.

[2017-10-17 15:06] sroberts opened #23 "Add a Screenshot to the Readme"
For GUI driven tools being able to "see it" makes a big difference in how to evaluate it. It would be really helpful to have that to look at from the screenshot, I'm not going to to download it just to see it. Thanks!

[2017-10-18 15:37] richgmorg opened #24 "Saved file contains just the string 'null'"
1.	Open Threat Dragon Desktop
2.	File | New model
3.	Add model title
4.	Save button
5.	Save “MyFile” (file is ok at this point)
6.	File | Close
7.	File | Save
8.     Open MyFile.json

Expected result
- File contains an empty model
- Opening the file shows an empty model

Actual result
- File contains just the string 'null'
- Opening the file spins indefinately

[2017-10-18 19:27] mike-goodwin commented on #24
Hello Richard - thanks for the issue report.

When I reach step 7 File | Save the app asks me for a file location to save to - this is as expected.  Is tihs what you see? Are you selecting MyFile.json as the save location?

When you do File | Close the current model object is set to `null`, so if yo save it over your existing file, that would result in the file containing null. Have I reproduced i

[2017-10-24 13:26] timothydeblock commented on #23
There's a working prototype here https://threatdragon.org/login. The link is available on the readme page.

[2017-12-03 22:41] mike-goodwin commented on #23
added some screenshots. the rationale for the desktop version is partly to support people who can't/won't give the prototype access to their GH. closed in pull request #25

[2017-12-03 22:41] #23 closed

[2017-12-03 22:41] mike-goodwin commented on #20
closed in pr #25 - no known vulns now :)

[2017-12-03 22:41] #20 closed

[2018-01-25 17:11] richgmorg commented on #24
Hi Mike, better late in replying than never!

Yes, at step 7  I saved the file on top  of itself.

[2018-11-06 08:22] dehydr8 opened #39 "Copy/paste support"
The packaged electron application doesn't support copy/paste and other editing functions because the menu items and bindings need to be explicitly added. Reference: https://github.com/electron/electron/issues/2591

The menu items and bindings need to be added in `app/layout/shell.js` to enable support for the said functions.

[2018-11-30 16:24] callebokedal opened #41 "Multiple security vulnerabilities according to 'npm audit'"
`npm audit`

returns

- 4 high
- 8 moderate
- 16 low

security issues for version `0.5.1`.

(But seems to be a great tool apart from this :-) )

[2019-01-24 02:26] jimraynor0 opened #43 "Command-c save does not save diagram"
Reproduce steps:

1. Create a new threat model
2. Add a new diagram
3. Save
4. Edit diagram
5. Add a process to the diagram
6. Hit command+s
7. Hit command+o, open the previously saved threat model
8. Edit diagram again

Expected behavior:
  Diagram should contain one process

Actual behavior:
  Diagram is empty

[2019-04-05 15:40] btopalka opened #46 "Spaces in property name get screwed up"
When adding a description of a flow with spacing is out of wack.
![image](https://user-images.githubusercontent.com/1424806/55639539-9ef44e80-5797-11e9-9eb2-920a054b2643.png)

[2019-06-11 20:11] mike-goodwin commented on #46
Thank you for your interest in Threat Dragon.

This issue is in [owasp-threat-dragon-core](https://github.com/mike-goodwin/owasp-threat-dragon-core) and is fixed in commit [f30c579f309d300389d2f00791afe17a48b9e5d0](https://github.com/mike-goodwin/owasp-threat-dragon-core/commit/f30c579f309d300389d2f00791afe17a48b9e5d0) it will be merged into the next release of desktop.

[2019-06-11 20:11] #46 closed

[2019-06-14 00:03] mike-goodwin commented on #39
As far as I can tell these editing functions do work via keyboard shortcuts (Ctrl-C etc.). Is this request to add a context (right-click) menu with the editing operations. I saw from your PR #40 that you were adding an edit submenu to the top menu bar. Which behaviour are you aiming for?

[2019-06-14 16:01] josephthweatt commented on #43
I am experiencing the same issue. Additional details:
- Using Mac
- Downloaded `threatdragon-darwin-x64.zip` from 0.1.26
- I used command+s to save, although I noticed the command to save in Threatdragon is command+c for some reason. In any case neither work.
- Creating a new file after editing the project basically just copies the initial project, so you just get a duplicate project with no saved

[2019-06-14 19:01] mike-goodwin commented on #43
Thanks for submitting this  - I'm looking into it. In the meantime, your workaround is to use the save button on the diagram editor. This correctly saves the diagrams as far as I can tell.

[2019-06-14 22:28] mike-goodwin commented on #43
The original issue from @jimraynor0 - diagram not saving is fixed in and will be included in the next desktop release. Note currently this is tested only on Windows since I don;t have access to a Mac at the moment. Also, from the same commit save is now Ctrl-S or command-S like the rest of the civilised world ;)

I believe the 3rd bullet point in the comment from @josephthweatt is also fixed, but

[2019-06-14 22:28] #43 closed

[2019-06-14 22:32] mike-goodwin commented on #41
Thank you for your interest in Threat Dragon!

Closing this issue since I now fixed all production vulnerabilities except 1 medium severity in jQuery via JointJS. There is a fix for this in JointJS v3 but this cause multiple breaking changes and there are no docs for the version yet. I will revisit when the docs come out.

Also, there are still vulnerabilities in the dev dependencies but I'm not p

[2019-06-14 22:32] #41 closed

[2019-06-16 07:14] dehydr8 commented on #39
It works normally when we start the application using `npm run start` (triggers `electron .`) because it starts the app with electron's default menu items. But since we don't have these menu items in the packages application, Cmd+C and other keyboard shortcuts (on a mac) don't work.

[2019-06-16 18:49] mike-goodwin commented on #39
So it fails on a Mac? OK, I should be getting a Mac to test on soon, as soon as I do I will get this addressed. Thanks for your contribution!

[2019-07-09 17:38] mike-goodwin commented on #24
This is fixed in the latest release v0.1.27

[2019-07-09 17:39] #24 closed

[2019-07-09 21:52] mike-goodwin commented on #39
Merged in Pr #40

[2019-07-09 21:52] #39 closed

[2019-07-11 19:12] Skewled opened #58 "Printing / Save PDF"
Latest version on github cloned.
Created a new model and added components.
Added threats.
Closed model.
Opened so I could get to the Report feature.
Save PDF generated the pdf, but it is missing the threat information. I checked to included mitigated threats as well. I have a mix of mitigated and open; however, none of them showed up in the generated PDF.

[2019-07-12 08:58] mike-goodwin commented on #58
Can I just check, did you also get the current owasp-threat-dragon-core package (v0.6.0)? All of the report generation code is centralised in that so it can be reused across the web and desktop apps. Thge deskto shell just provides the interaction with the Electron print/save dialogs.

If your have the up-to-date core package, would it be possible to share the model file so I can reproduce locally

[2019-07-12 11:56] mike-goodwin commented on #58
Also, could you tell me what OS you are on? I don't have access to a Mac at the moment so it is not tested on OSX (which is why the updated version has not been released yet).

[2019-07-12 17:30] Skewled commented on #58
I grabbed the core and tried to build on mac but get an error with 'rework-npm' not being a command so it fails on the bundle-css build, but this would make sense as to why the report does not include all the contents expected. I'm running Mac OS Mojave latest.

[2019-07-12 17:40] Skewled commented on #58
`12 verbose stack Error: owasp-threat-dragon-core@0.6.0 bundle-css: `rework-npm ./src/content/app.css -o ./src/content/threatdragon-core.css`
12 verbose stack spawn ENOENT
12 verbose stack     at ChildProcess.<anonymous> (/usr/local/lib/node_modules/npm/node_modules/npm-lifecycle/lib/spawn.js:48:18)
12 verbose stack     at ChildProcess.emit (events.js:203:13)
12 verbose stack     at maybeClose (in

[2019-07-12 18:37] mike-goodwin commented on #58
Thank you for the detail. So did you install all the dependencies and dev dependencies? In particular, Is rework-npm-cli installed?

[2019-07-12 19:15] Skewled commented on #58
I had to install rework-npm-cli, and then tried to generate the report again and it only shows the diagram but nothing about the threats.
I did observe the following error: `objc[86806]: Class FIFinderSyncExtensionHost is implemented in both /System/Library/PrivateFrameworks/FinderKit.framework/Versions/A/FinderKit (0x7fff9ea473d8) and /System/Library/PrivateFrameworks/FileProvider.framework/Overr

[2019-07-12 19:16] Skewled commented on #58
Apologies, not sure why the code isn't formatted nicely!

[2019-07-12 21:47] mike-goodwin commented on #58
OK. Using your model, I see the what is happening. The `isOutOfScope` property on the model elements is not defined which means the filter on the report template filters them out of both the out-of-scope section and the in-scope section. I think the problem is in the action custom JointJS shape definitions - the property should always be defined, so I will look into that. The only problem with tha

[2019-07-13 15:14] mike-goodwin commented on #58
This is fixed in PR #59

All the changes were made in owasp-threat-dragon-core at v0.6.1 so if you want to try it out you will need the latest core package (it is published on npm). The only change ot the desktop code was to upgrade the package versions - core and desktop both bumped to 0.6.1.

[2019-07-13 15:14] #58 closed

[2019-07-14 20:39] mike-goodwin commented on #18
Fixed in PR #62 (finally)

[2019-07-14 20:39] #18 closed

[2019-08-07 09:41] micheelengronne opened #69 "Gitlab integration"
Is it possible to add Gitlab integration ?

Thanks.

[2019-08-31 19:19] zachChilders opened #70 "Crash When Using Trust Boundary"
Trust boundaries seem to crash the application when you go to change their shape.  Unfortunately, it's very difficult to move a threat boundary without accidently changing its shape dramatically.  As such, at least in my version, trust boundaries are unusable.

Version: 1.27.0 alpha
System: Windows 10
Repro:
- Add trust boundary to diagram
- Attempt to drag it from initial placement location
- The

[2019-09-30 07:57] jgadsden opened #86 "Unable to escape from maximised screen (MacOS + Linux)"
Desktop version of Threat Dragon
Version 0.1.26
Mac OS 10.13.3 High Sierra
When the main screen is maximised, it is not possible to escape from this back to the desktop. The only way out is to bump the top of the screen

[2019-09-30 08:37] jgadsden opened #87 "Can not copy / paste using MacOS"
Desktop version of Threat Dragon
Version 0.1.26
Mac OS 10.13.3 High Sierra
When entering the model information such as Title, Owner, Reviewer, etc, it is not possible to copy or paste into the text boxes in the edit window.
This may be linked to issue in owasp-threat-dragon-desktop repo that has been closed:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/issues/39
@mike-goodwin : this

[2019-09-30 13:02] jgadsden commented on #70
Agreed that I see the same issue running on a Macbook :
Desktop Threat Dragon version 0.1.26
Mac OS version 10.13.3 High Sierra
Weirdly I have tried it on a Windows 10 machine and I do not see this issue :
Desktop Threat Dragon version 0.1.26
Windows version : Windows 10 Home version 1607

[2019-10-01 08:05] jgadsden commented on #70
Using the latest code from master, I still have this problem.
Desktop Threat Dragon : **master**
Mac OS version 10.13.3 High Sierra

[2019-10-07 11:04] kingazf opened #71 "'Report' button does not exist"
... or I am very obtuse and cannot find it. Tried with both my own threat model as well as the demo one. Any tips?

Using the desktop version.

[2019-10-07 11:26] jgadsden commented on #71
What version are you using @kingazf ? As far as I know this not yet available in the packaged downloads, and you have to checkout master branch and run from there using 'npm run start'

[2019-10-16 19:19] k1kkan opened #72 "Report button missing from macOS desktop app"
Seems like report button is missing completely from latest macOS version.
(using macOS Mojave 10.14.3)

[2019-10-17 06:14] #72 closed

[2019-10-17 06:23] k1kkan commented on #71
Same issue with macOS desktop application. To my understanding running npm `npm install` and `npm start` would require homebrew for macOS which is not an alternative for me.

[2019-10-17 06:32] k1kkan commented on #71
Fixed by installing node.js from  https://nodejs.org/en/download/ and then install npm and run.

[2019-10-18 00:28] coillarach opened #73 "Can't save on Mac after adding threat"
Saving seems to work fine when the diagram only consists of dataflow objects. As soon as a threat is added, none of the save options work. The menu option displays a save file dialog even though the json file already exists and overwriting it removes the contents leaving just a JSON null. Using the button in the toolbar displays an on-screen error message which says "Cannot read property 'detail'

[2019-10-24 13:02] jgadsden commented on #73
I do not have this problem when running TD v0.1.26 on MacOS 10.15. @coillarach could you try opening the sample model and seeing if you get the same problem? Just trying to rule out any problem with filesystem write permissions.
BTW I agree that v01.26 is the latest MacOS release, but it is very old at May 2017. I run the later versions of TD by cloning/ downloading the repo and then 'npm run inst

[2019-10-24 21:19] jgadsden opened #138 "Provide a CLI"
It would be good if there was an CLI to Threat Dragon desktop, so that some functionality could be automated. At present this would probably just be 'generate a pdf report', but it may be useful in the future for other  functions.

[2019-11-06 15:35] lmcthbe commented on #73
I have similar issues on 10.15 after cloning the repo, the selected element are not showed and when it does, when a threat is added, none of the save options works.

[2019-11-06 22:17] jgadsden commented on #73
@lmcthbe could you detail the steps that you take to reproduce this problem on MacOS 10.15 and cloning the latest TD ? I suspect that I do not see it because I am doing something different that you each time. Or is it because there is an error when running `npm install`?

[2019-11-07 03:09] lmcthbe commented on #73
@jgadsden After fixing the gyp error when doing 'npm install' it helps TD to work better and element can be added to the diagram.
About the save button, I have done extra testing and I found that I can get the save button not gray out just by clicking outside of the element that I have moved, it looks that the save button does not appears (after moving an element) when a another element or the bac

[2019-11-07 14:57] jgadsden commented on #73
Thanks for the info @lmcthbe - I can reproduce this issue from your instructions. It seems the Electron pull-down 'Save' always works even if the diagram save button is still greyed out.  I think this can be corrected in the owasp-threat-dragon-core source code. I can add an enhancement request in that repo.

[2019-11-08 12:45] lmcthbe commented on #73
Great.

[2019-11-11 08:52] p- opened #75 "Export as PDF in Desktop App"
Hi there,
nice project!
I saw that PR #100 adds reporting/PDF functionality to the Web app. It would be nice if the Desktop app also had that functionality.

[2019-11-11 11:54] jgadsden commented on #75
Hello @p- could you tell me what platform you are running on? Is it MacOS? The PDF report is in the master branch but the MacOS .dmg file does not have these latest additions. If you run from a checkout of threat dragon then you should be able to open the report and export as PDF.
If you download (or clone) and then run `npm install` and `npm run start` you should see the report button.
I am not s

[2019-11-12 08:26] p- commented on #75
Hi @jgadsden
Ah I see it now, thanks!
(Searched the 'export function' only in the application menu).

[2019-11-12 08:26] #75 closed

[2019-11-23 22:38] jgadsden opened #78 "Create releases for linux distros"
It would be good to have new set of release files for Windows and MacOS, as well as the linux distributions such as Debian and Fedora.

[2019-11-24 07:31] jgadsden commented on #70
This does not happen when using Threat Dragon version 0.6.3 on Debian Linux (Trisquel), so it seems to be MacOS specific

[2019-11-24 15:39] jgadsden opened #79 "Blank window on saving new model or saving demo model"
When the 'Create a New Model' selection is made, and then the details of the model filled in, then on Save the model is saved but the Threat Dragon window is blank. Recovery is by closing the model from the Electron menu.
Tested on Windows, MacOS and Debian Linux
TD version : core 0.61, desktop 0.6.3
also on TD version : core 0.7.0, desktop 1.0
Error message:  [ [Error] Failed to execute 'atob' on

[2019-12-04 17:54] cafl commented on #78
I am interested in being a tester of your Linux installer.  I have used the msft tmt for years and am tired of building out templates in a proprietary tool that doesn't match the environment I am modeling.  I want to use a tool that runs on Linux, so I would like to help make that happen.

[2019-12-05 08:51] jgadsden commented on #78
Hello @cafl - we have not yet released the distros to this main repo, but I have put them on my fork for now:
https://github.com/jgadsden/owasp-threat-dragon-desktop/releases
Hope this helps

[2019-12-22 22:33] jgadsden opened #80 "Can not close 'About' window in Gnome"
When running TD on Ubuntu Linux, if the 'About' selection is made from the 'Help' pull down then the About window is displayed without an OK button.  This window can only be closed by right-clicking the window bar.

[2019-12-23 17:12] alexpeju opened #81 "Report in blank (desktop versión installed locally on Mac)"
Hi Mike,
I have the desktop version installed locally on my mac and for a few days when I want to see the model report, it shows me the blank summary, I can't find a way to see what's wrong.
When loading the project I get an error "Could not call remote function 'setFeedURL', check that the function signature is correct. Underlying error: could not get code signature for running application"
I can

[2019-12-24 18:42] jgadsden commented on #81
Hello @alexpeju
It works OK for me when running on MacOS 10.15 Catalina, so this may be a permissions or installation issue. Could you advise what Macbook and what MacOS you are running on? Agreed that it would be good if you would like to share your threat model json file.
Can you check that you are running the latest version? Either clone this repo and then invoke `npm run install` and then `npm

[2019-12-27 07:24] jgadsden opened #82 "Add auto-update to Linux installs"
At the moment auto-update is only supported for Windows and MacOSX, and it would be good to have this for Linux distros as well

[2020-01-05 11:09] jgadsden commented on #70
Note that there is an existing workaround for this issue, which is to zoom out until the trust boundary or data flow does not require scrolling.

[2020-01-27 17:50] dk1010101 commented on #70
I see this too but i don't get a crash. When i add a trust boundary and try to change the shape the canvas just goes blank. I can see the menus and they are clickable but unusable. Zooming doesn't do anything.

I am using 0.1.27 on Win10 Enterprise 1809.

[2020-01-28 07:21] jgadsden commented on #70
Hello @dk1010101 - there is a fix for this as a pull request, but it has not been merged yet. There are some release images here that may help you, but only for Linux and MacOS OSX:
https://github.com/jgadsden/owasp-threat-dragon-desktop/releases
I can create one for Windows, will try and do it soon.

[2020-02-10 11:51] jgadsden commented on #81
Will retest this when the new version of TD desktop is released

[2020-02-10 12:05] jgadsden commented on #69
Hello @micheelengronne - I am not sure, do you have some info on what this would involve? This might be a question for the web application repo : https://github.com/mike-goodwin/owasp-threat-dragon

[2020-02-10 12:06] jgadsden commented on #71
This will be fixed in the next release of TD desktop, which should be out by the end of Feb '20

[2020-02-10 12:37] jgadsden commented on #78
Hello @cafl this PR #77 has npw been marged to master, so if you would like to test it out that would be great

[2020-02-11 09:49] jgadsden opened #85 "Update package versions"
Dependabot has identified some packages that need to be updated, but this has to be done in sync with package-lock.json. Better to bundle the dependabot changes together and commit them as one PR
A new version of angular is available:
"angular": "1.7.9"
update from existing 1.7.8

[2020-02-14 00:59] cafl commented on #78
Will do.  Many commitments, so I probably will get to this late next week.

On Mon, Feb 10, 2020 at 4:37 AM Jon Gadsden <notifications@github.com>
wrote:

[2020-02-14 06:25] jgadsden commented on #78
Thanks @cafl
I am merging in some bug fixes this weekend, and then will produce a new release for the platforms that we can all test - most likely .exe, .deb and .dmg . If you are able to test .rpm then that would be great ... I do not have a RH / Fedora box or VM to hand.
Leaving .snap alone for the moment, as I have not used these packages before.
Hope to get to a 1.0 release by Monday, fingers

[2020-02-15 13:29] #85 closed

[2020-02-15 14:00] jgadsden commented on #70
Should now be fixed in https://github.com/mike-goodwin/owasp-threat-dragon-core/pull/49

[2020-02-15 14:00] #70 closed

[2020-02-22 16:42] jgadsden opened #89 "Put 'electron' in the devDependencies section"
During build of the installers, get warning message:
`WARNING: Found 'electron' but not as a devDependency, pruning anyway`
It seems that  'electron' should be in the devDependencies section rather than  dependencies section.

[2020-02-22 21:46] jgadsden commented on #78
Hello @cafl - release is here, see what you can make of it :-)  :
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases/tag/v1.0
In the meantime I can now close this issue

[2020-02-22 21:46] #78 closed

[2020-02-25 05:31] jgadsden commented on #81
Hello @alexpeju - can you now use the latest version of TD desktop? It has been released here:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases/tag/v1.0
and as far as I can tell it behaves correctly now

[2020-02-25 05:31] #81 closed

[2020-02-25 05:35] jgadsden commented on #87
This is now fixed for sure in v1.0

[2020-02-25 05:35] #87 closed

[2020-02-25 05:37] jgadsden commented on #71
Hello @kingazf and @k1kkan - the report button feature is now stable, and you should not get any more problems, with version 1.0 release:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases/tag/v1.0

[2020-02-25 05:37] #71 closed

[2020-02-25 05:40] jgadsden commented on #73
Hello @coillarach - the new version 1.0 of TD desktop is released:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases/tag/v1.0
and you should not have this issue any more.
Thanks for your help @lmcthbe

[2020-02-25 05:40] #73 closed

[2020-02-28 17:05] adamshostack opened #92 "Make trust boundaries closed"
Arc trust boundaries are ambiguous.  For example, in the sample diagram, one arc can be extended to split "background worker process", another can be extended to bisect "database."

Closed boundaries (such as boxes) are more clear, and should be the default shape.

[2020-02-28 17:11] adamshostack opened #93 "Feature request: Clarify color"
The sample diagram has some elements (background worker, worker config, etc) which show in red.  It's not clear what red means.  (dashed lines seem to be used for both trust boundaries and Out of scope).

I suggest adding a key, but possibly alternately reducing use of color to address the threat of black & white printing.

[2020-02-29 03:06] jzy2000 opened #94 "Windows10 install failed"
I tried to install on win10 64bit by running `npm install`, encounter errors, please advise:

[code]

[2020-02-29 15:14] meetinthemiddle-be commented on #79
Seeing this issue as well on MacOSX. I can confirm that the workaround of closing the model(*), re-opening TD and then re-opening the saved JSON file works.

It's a minor annoyance and easily worked around, but may deter new users if this is their first contact with the tool. (a.k.a. : you never get a second chance to make a first impression ;-) ).

(*) "OWASP-Threat-Dragon" menu -> "Close Model"

[2020-02-29 15:19] meetinthemiddle-be opened #95 "Scaling of icons behaves strangely after using the zoom function"
See sccreenshot:

<img width="328" alt="Screenshot 2020-02-29 at 16 06 28" src="https://user-images.githubusercontent.com/26706067/75610132-c9b56700-5b0e-11ea-8e42-82d0a53839a1.png">

[2020-02-29 15:28] meetinthemiddle-be opened #96 "It's impossible to zoom in on items on the right or bottom of the diagram."
The zoom "+" and "-" buttons scale the diagram with the top left corner as an anchor point, which pushes items on right and bottom out of the viewport. For bigger diagrams, this may become a usability issue.

Proposals for improvement:

Preferred : Add a "hand" icon that allows you to drag the view to add pan functionality (most intuitive)

Alternatively : When an element is selected, use a point

[2020-02-29 19:38] jgadsden commented on #94
Hello @jzy2000 - could you try the version 1.0 Windows installer from :
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases/download/v1.0/OWASP-Threat-DragonSetup.exe
which should get you up and running for the moment.
I have double checked install using `npm install` on my Windows 10 machine and it works as expected. Could you try installing again to rule out any temporary downlo

[2020-03-01 00:38] jzy2000 commented on #94
Thanks for suggestion, the installer works fine.
I have identical npm installed.

[2020-03-01 09:59] jgadsden commented on #94
I think the error thrown on `node install.js` may be a known issue on some Windows systems:
https://github.com/npm/npm/issues/9969
@jzy2000 can you try `npm install phantom --save` and then `npm install`

[2020-03-01 09:59] #94 closed

[2020-03-01 12:35] jgadsden commented on #79
Hello @meetinthemiddle-be , selecting "OWASP-Threat-Dragon" menu -> "Close Model" should only close an existing open threat model and not the application itself. It works this way when I test it on my MacOS. Are you running from the version 1.0 .dmg install or from an `npm install` ?

[2020-03-01 12:38] jgadsden opened #97 "Console error messages displayed"
We get some console error messages when TD starts up. It is annoying and worrying for the user when these are briefly visible in the main application window. We need to either:
* fix the error + warning messages
or
* stop them appearing on the main window

[2020-03-01 12:40] jgadsden commented on #97
Thanks @derekhillhp for reporting this

[2020-03-01 14:56] derekhillhp commented on #97
After some trial and error, I was able to capture a screen shot of the startup messages.
<img width="442" alt="Screenshot 2020-03-01 06 54 55" src="https://user-images.githubusercontent.com/5630875/75627957-aed40880-5b89-11ea-94a4-e2cb7fabe661.png">

[2020-03-01 16:05] dschadt opened #98 "Java Script error"
I have 2 W10 64bit installations, actual version/patchlevel.
On both machines a window appears with error message when using TD 1.0.0
there is no C&P or change of window size :-(

<img width="418" alt="2020-03-01 17_02_31-Error_top" src="https://user-images.githubusercontent.com/30535695/75629026-dacda900-5bde-11ea-9b6a-96b4df0d5285.png">

<img width="418" alt="2020-03-01 17_03_33-Error_bottom" sr

[2020-03-01 18:54] jgadsden commented on #98
Hello @dschadt , is this using the released desktop version 1.0  .exe installer? Or from a git clone and `npm install` ? Certainly looks bad, and I assume the desktop application does not run after these errrors?

[2020-03-01 19:47] dschadt commented on #98
yes and error appears after some time after starting TD ~ 2mins. Seems to be independent on any action within TD. Then Menus disappear as long as error is displayed. After confirming the message box menus are back and you can continue working. Error message seems to appear only once.
 Update request ?

[2020-03-01 23:10] jgadsden commented on #98
Ah, this is different to my Windows 10 box, whoch does not see these errors. It could be something to do with a difference in the environment, but I am really not sure at all. Are you able to investigate and find a solution?

[2020-03-02 07:28] dschadt commented on #98
probably main difference is a German W10 environment. Tried a VM installation with barely nothing installed (MSFT Office 2013/2019 & MSFT TMT 7.x), same error.

I'll attach the squirrelSetup log

[SquirrelSetup.log](https://github.com/mike-goodwin/owasp-threat-dragon-desktop/files/4273920/SquirrelSetup.log)

[2020-03-02 08:10] jgadsden commented on #98
OK, thanks @dschadt for the log file, and it looks as though squirrel is complaining about not being able to access update at:
https://threatdragondownloads.azurewebsites.net/update/win32/1.0.0/releases
I have to admit to knowing next to nothing about Windows systems (I am a linux sort of person), and I know that we have not uploaded any files to MS Azure. I guess after 2 minutes or so squirrel gi

[2020-03-02 09:42] jgadsden opened #103 "Remove warnings"
The warning on the main window is _probably_ no longer needed, as we should make any data model changes backwardly compatible.

This is in file app/welcome/welcome.html. Note that the screenshot should also be updated at `screenshots/welcome.png`

[2020-03-02 09:47] jgadsden opened #99 "squirrel updates temporarily disabled"
Until we have code signing it seems better to temporarily disable squirrel updates, as these are interfering with the Windows application. Searches are being made to :

https://threatdragondownloads.azurewebsites.net/update/win32/1.0.0/releases

which does not yet exist in MS Azure. Until these do then squirrel should be disabled.

[2020-03-02 09:55] dschadt commented on #98
looks like some default settings from squirrel

[2020-03-02 12:07] jgadsden commented on #98
Hello @dschadt - found that this path is defined in app/config.autoupdate.js .

It seems best that we disable auto-updates for all platforms : Windows, MacOS and Linux.
I can do this, and the updates can be enabled again when they are working for all three platform flavours.

[2020-03-02 15:23] #89 closed

[2020-03-02 16:35] jgadsden commented on #80
Added to `app/layout/shell/` to ensure the About dialog always has an OK button on all platforms:
`buttons: ['OK'],`

[2020-03-02 16:35] #80 closed

[2020-03-02 16:57] jgadsden opened #101 "Provide AutoUpdate"
There is a branch for applying auto-updates using squirrel.  It should be cross platform for Windows, MacOS and Linux.
File `app/app.js` has been modified to not use autoupdate via PR #102  because it was causing problems, but this modification can be undone when autoupdate is working:
[code]

[2020-03-02 17:11] jgadsden commented on #82
This is now covered by #101 and so this can be closed

[2020-03-02 17:11] #82 closed

[2020-03-02 17:13] jgadsden commented on #97
The error messages are due to auto-update not working correctly, subject of PR #102 . Once this is merged in then these error messages are no longer displayed.

[2020-03-02 17:14] jgadsden commented on #98
The js error is due to auto-update not working correctly, subject of PR #102 . Once this is merged in then this error dialog box is no longer displayed.

[2020-03-02 17:21] jgadsden commented on #99
Subject of PR #102

[2020-03-02 17:22] #97 closed

[2020-03-02 17:22] #98 closed

[2020-03-02 17:22] #99 closed

[2020-03-03 09:20] thomaskonrad opened #104 "Multiple issues: Having to save the model immediately"
I just played around a bit with Threat Dragon, and I ran into multiple issues. I'd like to summarize these here.

1. **Having to save the model immediately**: When creating a new model, I need to save it immediately. I'd prefer being able to play around with it before saving anything. So "Create New" instead of "Save" would be better IMHO.
1.  **Exception thrown, but cannot copy it**: When I open

[2020-03-03 10:26] jgadsden commented on #104
Hello @thomaskonrad - thanks for the feedback, and these are all good points.
Point 3. is a known (and severe) bug that we are trying to fix ... any help on this would be great #79
It would be good to split out your points into separate issues so that they can be dealt with one by one. I can do this if you like? Or you may want to do it? Happy either way

[2020-03-03 11:30] jgadsden commented on #79
This issue is also present when opening the demo model and then trying to save it

[2020-03-03 11:44] jgadsden opened #105 "New model edits lost if save cancelled"
When a new model is being constructed and the save button is pressed. If the model is not saved, by hitting 'cancel' instead of 'save' in the dialog box, then all edits have been lost

[2020-03-03 11:46] jgadsden commented on #105
This is also a problem if edits are made to the demo model and the save dialog box is cancelled

[2020-03-03 13:30] jgadsden opened #106 "Vulnerabilities identified during install"
On cloning and then `npm install` we get:
[code]
which should be fixed

[2020-03-03 15:43] thomaskonrad commented on #104
Feel free to split up this issue and close it!

[2020-03-03 18:59] jgadsden opened #107 "Uncaught Exception thrown on Windows"
@thomaskonrad reports:
Exception thrown, but cannot copy it:
When I open a model, an exception `Uncaught Exception: Error: Command failed: 4294967295`. Also, I cannot copy the exception so that I could easily post it here. It says `System.Net.WebException: The remote server returned an error (500) Internal Server Error`

[2020-03-03 19:01] jgadsden opened #108 "Multiple issues: edit the model to add a diagram"
@thomaskonrad reports:
The fact that I have to edit the model to add a diagram: That seems counter-intuitive to me. I'd put the diagrams into the edit view of the model, and only put metadata into the edit dialog.

[2020-03-03 19:01] jgadsden opened #109 "Multiple issues: drag whole trust boundaries"
@thomaskonrad reports:
I cannot drag whole trust boundaries: When I point at a trust boundary, the cursor indicates that I can drag and drop the whole boundary, but instead, a new point is added to the curve, which I then drag. I could not find out a way to move a whole trust boundary at once.

[2020-03-03 19:03] jgadsden opened #110 "Multiple issues: protocol not shown in the Data Flow"
@thomaskonrad reports:
The protocol isn't shown in the Data Flow: There is no indicator which protocol is in use, or whether it's encrypted, although I can specify these properties.

[2020-03-03 19:03] jgadsden opened #111 "Multiple issues: Data Flow arrows misaligned"
@thomaskonrad reports:
Data Flow arrows are misaligned: The arrows seem to point towards the direct line between two objects, instead of the direction of the very last part of the curve. That makes it misaligned when it's curved.

[2020-03-03 19:06] jgadsden commented on #104
Thanks @thomaskonrad I have split them up and kept this issue for the first point in your list.
This feedback is much appreciated; hope you find the tool useful even with these issues.

[2020-03-04 08:10] jgadsden commented on #79
This is looking quite hard  to fix with the existing behaviour:

1. open a new TM
2. do some changes
3. save as a new file

and I suggest that we change to:

1. Save a new file using template
2. open the new TM
3. do some changes
4. save the file

[2020-03-04 16:41] jgadsden opened #113 "Test coverage below minimum"
Test coverage is not reaching the minimum 90% of functions

[2020-03-04 16:42] #79 closed

[2020-03-04 16:42] #104 closed

[2020-03-04 16:42] #105 closed

[2020-03-04 16:44] jgadsden commented on #104
Hello @thomaskonrad - this latest commit has changed the behaviour reported in your first point

[2020-03-04 16:45] jgadsden commented on #107
Hello @thomaskonrad - I have not been able to reproduce this yet. Can you provide a way of reproducing it? And also details on which platform would be great

[2020-03-04 16:46] jgadsden commented on #86
Closing this because it seems to be an Electron issue, not Threat Dragon

[2020-03-04 17:33] #103 closed

[2020-03-05 18:15] nstr10 opened #115 "File Extension Not Applied"
When saving a new file, no file extension is added. It is unclear what file extension should be added. When opening files, none appear available because they have no file extensions.

I am running this on Ubuntu 18.04 with the Nautilus file browser.

[2020-03-05 18:42] nstr10 commented on #115
Based on this the file extension should be ".json":
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/blob/f94e1df4e1f5f881fc38b1b03aea36d1bdecf068/app/services/electron.js#L43

I'm not sure if a custom check should be written or if there is a native Node/Electron way of doing this.

[2020-03-05 21:28] jgadsden commented on #115
Thanks @nstr10 - I have checked this on my debian Linux and see the same thing. On MacOS and Windows it prompts with 'Untitled.json' but not Linux.  If you can get a fix for this that would be great, otherwise I can have a look later in the week.

[2020-03-06 13:30] jgadsden commented on #113
satisfied by pr #116

[2020-03-06 13:30] #113 closed

[2020-03-06 13:31] jgadsden commented on #101
Assigned to @mike-goodwin , hope that is OK with you

[2020-03-07 09:47] jgadsden commented on #115
Hello @nstr10 , just committed a fix where ` defaultPath: "new-model.json",` is applied, so if you update your checkout and run it again it should work OK

[2020-03-07 09:52] jgadsden commented on #107
Hello @thomaskonrad
This is a windows server 404 error, and so this must be when using the Windows desktop version of TD:
`System.Net.WebException: The remote server returned an error: (404) Not Found`

[2020-03-10 15:19] tomjwalsh opened #119 "Undo feature doesn't work on OSX desktop version 1.1.0"
I'm not able to get the Undo feature to work on OSX desktop version 1.1.0 from the "Edit" menu or with command z (⌘ Z).

[2020-03-10 15:27] tomjwalsh opened #120 "Cut and Paste feature doesn't work on OSX desktop version 1.1.0"
I'm unable to get the Cut and Past feature to work on OSX desktop version 1.1.0 from the "Edit" menu or when using command x (⌘X) and command v ( ⌘V).

[2020-03-11 20:02] jgadsden commented on #119
hello @tomjwalsh
The undo feature is only for text fields in Threat Dragon, not the elements in the diagram. I have tested this on my Mac and it works as expected for project text fields including threat text fields, with both menu and shortcut.

Are you expecting Undo for the diagram elements? This is the subject of a feature enhancement in the core repo:
https://github.com/mike-goodwin/owasp-thr

[2020-03-12 19:47] nstr10 commented on #115
@jgadsden that definitely helps a lot, but the behavior is still a bit unusual if you don't take the default filename. For example, if I save a file as `test` it doesn't get the `.json` extension and therefore the `open` dialog does not show it.
I'll do some research into Electron this weekend and try to make a pull request.

[2020-03-12 23:23] jgadsden commented on #115
Thanks @nstr10 , you make a very good point. I have reopened this issue, and if you can get a fix then that would be great.

[2020-03-13 15:20] nstr10 commented on #115
Submitted a workaround for the open dialog. It looks like the issue with the save dialog is being debated upstream: https://github.com/electron/electron/issues/21935

[2020-03-14 09:26] #115 closed

[2020-03-14 09:52] #119 closed

[2020-03-19 19:06] ahusmc opened #122 "Please digitally sign the Threat Dragon installer binaries"
Hello.

Please digitally sign the Threat Dragon installer binaries.

Thank you,

Alfredo Hickman

[2020-03-19 22:49] jgadsden commented on #122
Hello @ahusmc - agreed that this is something that should be done. We are always looking for help for Threat Dragon so suggestions on how to do this and any code would be great

[2020-03-19 23:59] ahusmc commented on #122
Suggestions on how to digitally sign the installer binaries and code suggestions?

Please don't take this the wrong way, but digitally signing installer binaries is pretty standard and considered a security best practice. This is not something that you write up some code for and submit an MR. The developer and publisher of the installer obtains a legitimate code signing certificate and then signs

[2020-03-20 08:39] jgadsden commented on #122
Hello @ahusmc these are very good points.

@mike-goodwin will be doing this as part of the autoupdate feature #101 and (if I understand correctly) this will be part of that feature.

I think this issue #122 can be closed as part of #101 if you agree?

[2020-03-20 09:24] jgadsden commented on #122
We should generally follow:
https://wiki.debian.org/Creating%20signed%20GitHub%20releases
which summarises this well. This is something that needs to be done for autoupdate, and is a good additional security measure for github releases.

[2020-03-20 09:24] #122 closed

[2020-03-20 16:40] ahusmc commented on #122
Thank you @jgadsden and @mike-goodwin .

[2020-03-24 16:50] jgadsden commented on #86
Reopening this issue because it also happens on Linux, except there is no workaround for Linux and it becomes not possible to close the application or escape from maximised screen

[2020-03-24 17:34] jgadsden commented on #86
Closing this as this is 'just the way it is'

[2020-03-25 10:17] jgadsden commented on #86
Opening this again, the reason being that in Windows the file pull-down menus are displayed when in full screen mode. Hence it is easy to exit from full screen mode in Windows, but not for MacOS nor Linux.
Ideally we would preserve full screen mode for Windows and possibly MacOS, but do it differently for Linux

[2020-03-27 06:19] #86 closed

[2020-03-27 08:17] jgadsden opened #124 "Update packages"
When running `npm install` there are warnings. These packages could be updated so that the warnings are reduced:
[code]

[2020-03-31 06:40] thomaskonrad commented on #107
It was because of a `(500) Internal Server Error`, so probably the error is (was?) on the server side.

[2020-03-31 07:19] jgadsden commented on #107
Thanks @thomaskonrad - was it the desktop or the web-app version of Threat Dragon?

[2020-03-31 16:40] jgadsden opened #127 "Loading bad json file not caught"
When a file is loaded that does not have valid json, the application waits for ever after parsing the file. This error needs to be caught and acted upon

[2020-03-31 18:30] #127 closed

[2020-04-02 08:51] jgadsden opened #129 "Link and reference OWASP cheat sheets"
The OWASP project Cheat Sheets provides information on Threat Modeling :
https://cheatsheetseries.owasp.org/cheatsheets/Threat_Modeling_Cheat_Sheet.html
along with other cheat sheets on various defense topics.

[2020-04-07 10:34] fajabird opened #130 "Provide Linux distribution independent packages"
Instead of providing packages in DEB and RPM format, provide distribution independent packages in Appimage (and possibly Flatpak) format. No installation required (appimage).

Example: JITSI (online audio/video conferences) provides a desktop application based on electron and for linux is distrubuted as appimage (https://www.appimagehub.com/p/1248973/).

[2020-04-07 12:52] fajabird commented on #130
Hi, I can try to help out. First step would be do decide upon the pipeline: here is a short summary of the options. Can you give advise which way to go?

https://docs.appimage.org/packaging-guide/overview.html

[2020-04-07 13:42] jgadsden commented on #130
Thanks @fajabird - much appreciated.
We use electron installers in the package.json scripts, so there is an electron installer package for appimage:
https://www.npmjs.com/package/electron-installer-appimage
but I am not sure if this is similar to the rpm electron installer or not:
https://www.npmjs.com/package/electron-installer-redhat

Ideally we would prefer something like electron-builder:
http

[2020-04-07 19:42] fajabird commented on #130
Thanks @jgadsden for the input. Unfortunately electron-installer-appimage seems to be just a reference to electron-builder. So I tried the following without any modifications to any files:

**npx electron-builder -l**    (where -m=mac -w=windows -l=linux)
Result:
  • electron-builder  version=22.4.1 os=5.5.13-arch2-1
  • writing effective config  file=dist/builder-effective-config.yaml
  • install

[2020-04-08 20:55] fajabird commented on #130
Hi, I have added a build-block and a "dist" script to the package.json which allows to do a "npm run dist" which will build all windows, mac and linux files in one go using electron-builder. Its a tiny change but if you like I can create a PR.

[2020-04-09 05:22] jgadsden commented on #130
Hello @fajabird - yes please, if you would like to create this PR that would be great. It looks like we also get the .snap file as well ... double good result
I will create the `npx electron-builder -w` image, I have a tame windows box at the side of the desk. (I am a linux sort of person, with a Mac for work)
This is good timing as the testing for version 1.2 is about to start

[2020-04-09 07:04] ossie-git opened #132 "Mac Package Still at v0.1.26"
Hi,

The latest Mac package available for download from [here](https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases) is still v0.1.26. It looks like it wasn't updated like the other pages. Thanks

![Screen Shot 2020-04-09 at 4 59 46 PM](https://user-images.githubusercontent.com/25382296/78867076-dd47dc00-7a83-11ea-8171-20e348b0e250.png)

[2020-04-09 08:30] jgadsden commented on #132
Hello @ossie-git - could you double check that you are using this .dmg file:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases/download/v1.1/OWASP-Threat-Dragon.dmg
When I install from this location I get the following
<img width="1113" alt="Screenshot 2020-04-09 at 08 22 38" src="https://user-images.githubusercontent.com/29352392/78874665-a56d7400-7a44-11ea-836b-f2ea4ec023e2.pn

[2020-04-09 08:56] ossie-git commented on #132
Oops. Looks like I had an older version installed as well and searching for threat dragon in Finder defaulted to that. Searching for OWASP Threat Dragon points to the new one. Thanks

[2020-04-09 08:56] #132 closed

[2020-04-09 09:15] jgadsden commented on #132
Good to see that you have been using Threat Dragon for so long :-) Thanks for resolving this

[2020-04-09 21:41] #130 closed

[2020-04-11 15:35] jgadsden opened #133 "Add icons to electron builder / installer"
The icon files `cupcakes.icns`, `cupcakes.ico` and `cupcakes1024x1024.png` should be moved to the `content/icons` directory. The icon locations updated for these paths and icons added to electron builder configuration in `package.json`.

[2020-04-11 15:36] jgadsden commented on #133
@fajabird I am happy to do this, but did not want to tread on your toes if you are planning to do it?

[2020-04-12 11:46] fajabird commented on #133
no, please go ahead - I have no other plans right now.

[2020-04-13 21:03] jgadsden commented on #133
added in pull request #134

[2020-04-13 21:03] #133 closed

[2020-05-06 11:19] thomaskonrad commented on #107
It was the desktop version!

[2020-05-06 12:04] jgadsden commented on #107
Cool, thanks. I have not been able to reproduce this myself, so if you can reproduce it or see it again and if you could list what steps you took, that would be great

[2020-05-20 18:03] jcoupal opened #137 "Command line sync utility linking TD file to Jira Epic"
My company built a utility that helps us out a lot with Threat Modeling - we have a 2-way sync utility that pushes open (non-mitigated) vulnerabilities into a a named Jira Epic as a simpler way to build backlog for our dev team. Once closed in Jira, the items get marked as closed in TD.

[threat-mvp-master.zip](https://github.com/mike-goodwin/owasp-threat-dragon-desktop/files/4658557/threat-mvp-ma

[2020-06-04 08:18] jgadsden commented on #101
This issue has been migrated to the OWASP organisation area:
https://github.com/OWASP/threat-dragon-desktop/issues/1

[2020-06-04 08:18] #101 closed

[2020-06-04 08:19] jgadsden commented on #106
This issue has been migrated to the OWASP organisation area:
https://github.com/OWASP/threat-dragon-desktop/issues/2

[2020-06-04 08:19] #106 closed

[2020-06-04 08:19] jgadsden commented on #107
This issue has been migrated to the OWASP organisation area:
https://github.com/OWASP/threat-dragon-desktop/issues/3

[2020-06-04 08:19] #107 closed

[2020-06-04 08:20] jgadsden commented on #124
This issue has been migrated to the OWASP organisation area:
https://github.com/OWASP/threat-dragon-desktop/issues/4

[2020-06-04 08:20] #124 closed

[2020-06-04 08:20] jgadsden commented on #129
This issue has been migrated to the OWASP organisation area:
https://github.com/OWASP/threat-dragon-desktop/issues/5

[2020-06-04 08:20] #129 closed

[2020-06-04 08:20] jgadsden commented on #138
This issue has been migrated to the OWASP organisation area:
https://github.com/OWASP/threat-dragon-desktop/issues/6

[2020-06-04 08:20] #138 closed

[2020-06-11 22:53] iphelix opened #141 "Diagram Panel Resizing"
The graph panel does not expand vertically when zoomed out leaving most of the diagram cut off.

[2020-06-12 08:51] jgadsden commented on #141
Hello @iphelix - can you check what version of Threat Model you are using? There was a lot of trouble with zoom in/out, and zoom is disabled in version 1.2 for this reason:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases/tag/v1.2

Could you make sure you are using version 1.2, and this problem should no longer be there?

[2020-06-22 22:42] iphelix commented on #141
Yep, confirmed it's for the latest 1.2 version for Mac.

[2020-06-23 06:04] jgadsden commented on #141
Thanks for the confirmation. How are you zooming the diagram in and out? Could you send a screen shot so I could understand the view? Thanks again

[2020-06-24 17:33] iphelix commented on #141
Zooming in and out using menu bar or command/ - or + keys. The issue is that as the objects resize they don't automatically expand vertically leaving the bottom half of the window empty.

<img width="1438" alt="Screen Shot 2020-06-24 at 10 28 13 AM" src="https://user-images.githubusercontent.com/887841/85604398-1d8c1480-b606-11ea-9b28-7cdfc2f3982b.png">

[2020-06-25 21:46] jgadsden commented on #141
Hello @iphelix - thanks, I understand now. We had disabled the zoom in / out for the diagram itself, but you make the good point that zooming the entire application in and out does not work as it should.
Will try and see how to fix this, unless you have a solution already? We always welcome any contributions if you have one

[2020-07-07 10:25] MCOffSec opened #145 "XSS/RCE vulnerability"
During testing of this app I've discovered an XSS flaw that can lead to RCE. Is there a secure/[private place I can post details of the issue?

[2020-07-07 10:58] jgadsden commented on #145
Thanks @MCOffSec for doing this, it is appreciated. Just checking that you mean specifically the desktop application and not the web application at https://github.com/OWASP/threat-dragon ?

For both repos you can email mike.goodwin@owasp.org using the PGP key at the bottom of the README.md file in either repo

Thanks again, Jon

[2020-07-13 21:33] craig-Ayla opened #146 "FAQs: Images of the Threat Diagram are cropped in the Report"
When I go to run the Report on a model (actually a group of models), the Diagrams are cropped so that the reader can't see the entire model.

I'm getting several red, brief, pop-up style warnings when running the Report.  They appear to be identical and state "Error: cannot read property 'cells' of undefined".

I'm using version 1.2, on a MacBook Air running 10.14.6

[2020-07-14 05:08] jgadsden commented on #146
Hello @craig-Ayla - could you send me either the pdf output or the json file? I can have a look
Having said that I understand if you do not want to send your threat models around for everyone to have a look ... a bit of a reveal :-) But if you can repeat it with a generic model that would be great

[2020-07-14 05:09] jgadsden commented on #146
I see the error "Error: cannot read property 'cells' of undefined" when I have a diagram with no elements in it, do you have any diagrams in your threat model that are empty?

[2020-07-14 16:21] craig-Ayla commented on #146
No.  The diagrams all have elements (process, actor, store…).  There are 6 diagrams.

Some of the diagrams do not have Threats yet.

Craig

On Jul 13, 2020, at 10:09 PM, Jon Gadsden <notifications@github.com<mailto:notifications@github.com>> wrote:

I see the error "Error: cannot read property 'cells' of undefined" when I have a diagram with no elements in it, do you have any disgrams in your thre

[2020-07-14 16:22] craig-Ayla commented on #146
Let me see if I can recast it so it’s more generic…  Probably be a day or two (sorry - can’t be helped).

Craig

On Jul 13, 2020, at 10:08 PM, Jon Gadsden <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello @craig-Ayla<https://github.com/craig-Ayla> - could you send me either the pdf output or the json file? I can have a look
Having said that I understand if you do not want t

[2020-07-14 16:31] jgadsden commented on #146
OK, thanks @craig-Ayla - it may be platform dependent as well, so I can test your json/pdf on all three platform types when you are ready.

Not sure why you are getting the errors "Error: cannot read property 'cells' of undefined". Do you want to raise a bug issue for this at : https://github.com/OWASP/threat-dragon-core/issues

Thanks again, Jon

[2020-07-14 18:48] craig-Ayla commented on #146
Hi Jon,

I’m terribly sorry - there were diagrams without any objects in them.  I’d forgotten I’d added them.

Also, I didn’t realize that the ends of the Data Flow arrows could be ‘attached’ to the Actor/Store, etc by dragging them into the center of the object.  Fixing that had the side-effect of fixing the diagram cropping issue.

What would you like me to do with the Issue on GitHub now?

Crai

[2020-07-14 19:40] jgadsden commented on #146
No problem at all @craig-Ayla , good to hear that the cropping issue is sorted and that the cause of the errors are known. We need a FAQ on this really, because many users would have been in the same situation. Very good that you raised this issue, otherwise we never hear about these problems.

Do you mind if we keep this as a Documentation issue? We need to update the FAQs for this ... possibly o

[2020-07-14 23:01] craig-Ayla commented on #146
Feel free to keep everything I’ve sent.  And, thanks for providing the tool!

Craig

On Jul 14, 2020, at 12:41 PM, Jon Gadsden <notifications@github.com<mailto:notifications@github.com>> wrote:

No problem at all @craig-Ayla<https://github.com/craig-Ayla> , good to hear that the cropping issue is sorted and that the cause of the rrors are known. We need a FAQs really, because many users would have

[2020-07-15 17:17] craig-Ayla commented on #146
Hey, I do have one question (or possibly request).  I’m using the local version.   I open the model file, then select a diagram and work on it, and often I want to go to a different diagram.  It seems that I have to completely close the model, then reopen it, and then select the next diagram I want to work on.  I’m wondering if there’s a way that I can go from diagram to diagram without closing th

[2020-07-15 19:28] jgadsden commented on #146
Hello @craig-Ayla - there is a quicker way to swap between diagrams. Exit from the first diagram using the 'X' button (between the grid and the bin buttons) in the drawing pane. This takes you back to the project view, and then click on the next diagram thumbnail.

Again this is good feedback, and I will put it into the FAQs.

Cheers, Jon

[2020-07-15 21:47] craig-Ayla commented on #146
Ah ha!  That works like a charm, though it’s not what I would have expected for a button that says ‘cancel’ when I hover over it.  Maybe ‘cancel pending edits and close diagram’?

Craig

On Jul 15, 2020, at 12:28 PM, Jon Gadsden <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello @craig-Ayla<https://github.com/craig-Ayla> - there is a quicker way to swap between diagrams. Exi

[2020-07-16 08:54] jgadsden commented on #146
That is a very good point - it is misleading. I have changed it to 'Close Diagram' in commit:

https://github.com/OWASP/threat-dragon-core/commit/51263f85d98b26dee7f445ccc23ca64934fa1a74

which should appear in version 1.3 due in August

[2020-07-16 15:37] craig-Ayla commented on #146
Thank you!

Craig

On Jul 16, 2020, at 1:54 AM, Jon Gadsden <notifications@github.com<mailto:notifications@github.com>> wrote:

That is a very good point - it is misleading. I have changed it to 'Close Diagram' in commit:

OWASP/threat-dragon-core@51263f8<https://github.com/OWASP/threat-dragon-core/commit/51263f85d98b26dee7f445ccc23ca64934fa1a74>

which should appear in version 1.3 due in August

[2020-07-27 14:00] MCOffSec commented on #145
just checking you received the details via the Flowcrypt page?

[2020-07-27 16:47] jgadsden commented on #145
@mike-goodwin should have received it? Mike can you confirm?

[2020-07-28 09:55] jgadsden commented on #145
Hello @MCOffSec - can you give an idea (without disclosure) of how severe this vuln is? Is it exploitable within the desktop application, or is it more targeted towards the online web app at https://github.com/OWASP/threat-dragon ?

[2020-07-28 10:01] MCOffSec commented on #145
Sure, it impacts the desktop version of the application and requires the user to load a maliciously crafted file in the app then click a commonly used button within the tool.

[2020-07-28 10:24] jgadsden commented on #145
OK, thanks @MCOffSec , understood. Do you have a fix for this? We are about to release version 1.3 - something like early August, so it would be good to have a fix in place. Many thanks, Jon

[2020-07-28 10:27] jgadsden commented on #145
This TD repo was migrated to the OWASP organisation repo at https://github.com/OWASP/threat-dragon-desktop/issues . I can duplicate this issue there, where the fix will be applied, or do you want to raise this issue in that repo? You get github credit if you do :-)

[2020-07-28 14:00] MCOffSec commented on #145
I can raise it there, its not a problem :)

[2020-07-30 08:11] jmiltner opened #150 "macOS keyboard shortcuts"
It may sound nit-picky, but not having standard keyboard shortcuts for closing window and application really stumps me every time I use the app...

The standard shortcut for closing a window on macOS in `cmd-W`, the standard shortcut for closing/terminating an application is `cmd-Q` - currently ThreatDragon uses `cmd-F4` to close a window and `cmd-W` to "exit" the application.
In addition, macOS a

[2020-07-30 09:58] jgadsden commented on #150
Thanks for this @jmiltner - you make a very good point. I can create a branch in the new OWASP repo:

https://github.com/OWASP/threat-dragon-desktop

as Mike's repo has been migrated to this OWASP organisation area.

[2020-07-30 10:05] jgadsden commented on #150
Done : branch created at https://github.com/OWASP/threat-dragon-desktop/tree/macos-kb-shortcuts
pull request at https://github.com/OWASP/threat-dragon-desktop/pull/16

@jmiltner would you like to review the pull request?

[2020-08-03 08:03] jgadsden commented on #150
Pull request merged in repo OWASP/threat-dragon-desktop#16. This will go in to the version 1.3 release scheduled for mid-August 2020

[2020-08-03 08:03] #150 closed, assigned to nobody

[2020-08-12 07:46] SurmatMG opened #152 "Windows desctop app doesn't work"
Hello, guys! I am trying to create new or open saved locally at json threat models, but it doesn't work. I am using Windows 10, and perform all the instruction from the site. Could you help me?

![image](https://user-images.githubusercontent.com/69574697/89989064-10e08000-dc89-11ea-9142-18277123a977.png)

[2020-08-12 07:54] jgadsden commented on #152
Hello @SurmatMG - are you using the latest release version 1.2? you can download it here:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases/tag/v1.2

and then the best way to get started is to open a sample model. This is a good option if you are new to Threat Dragon.

[2020-08-12 10:23] SurmatMG commented on #152
Yes, I am using 1.2, and I am trying to open sample model, but saving
doesn't work!

So any changes to basic model even if I saved them are not opened!

What should I do?

On Wed, Aug 12, 2020, 10:54 Jon Gadsden <notifications@github.com> wrote:

[2020-08-12 10:47] jgadsden commented on #152
Thanks for the update @SurmatMG - so you can open a sample model, but when you try and save you are not able?

Can you give details on where you are trying to save to model to? and whether this directory has write permissions for you?

Thanks, Jon

[2020-08-12 13:46] jgadsden commented on #152
@SurmatMG - are you getting an exception thrown ?

There is an open issue with TD desktop on Windows 10 that could not be reproduced:
https://github.com/OWASP/threat-dragon-desktop/issues/3

[2020-08-13 02:37] SurmatMG commented on #152
"Thanks for the update @SurmatMG <https://github.com/SurmatMG> - so you can
open a sample model, but when you try and save you are not able?"

1. I am able to open, but I can not save my edition. (saved file doesn't
open).

"Can you give details on where you are trying to save to model to? "

2. I tried different directories and I have root access to them (so
everything is ok with write permission

[2020-08-13 02:37] SurmatMG commented on #152
" are you getting an exception thrown ?"

No, there is nothing - no exceptions, no errors.

On Wed, 12 Aug 2020 at 16:46, Jon Gadsden <notifications@github.com> wrote:

[2020-08-13 07:45] jgadsden commented on #152
Hello @SurmatMG , I must admit that I am not a windows sort of person - I contribute to Threat Dragon using Linux and MacOS - and only test on a Windows 10 machine for the releases. It sounds like the dialog boxes are not being displayed in your Windows environment, it works on the test machines but these may be set up differently.

@mike-goodwin and @andk123 - I think you develop on windows, do y

[2020-08-13 09:19] dschadt commented on #152
some antivirus tools block access to protected folders, I see that e.g. with Bitdefender.

[2020-08-13 13:07] nickrmc83 opened #153 "Landscape Diagram Export option"
👋 I've been using this great tool for a little while but we keep hitting a minor niggle which we'd love to see improved. When exporting reports using the Mac desktop app much of the time the diagrams include scrolls bars. It would be great to either be able to `fit-to-width` and/or output diagrams as landscape so that the scrollbars can be removed and so more space is available.

[2020-08-13 13:40] jgadsden commented on #153
Hello @nickrmc83 - I am glad you like Threat Dragon, and this is a good suggestion, thankyou. It would be a good enhancement to have a landscape option ... it maybe could be a tick box in `app/threatmodels/desktopreport.html` with this option being applied in `app/threatmodels/desktopreport.js`.

The development of Threat Dragon has been migrated to https://github.com/OWASP/threat-dragon-desktop ,

[2020-08-13 13:51] nickrmc83 commented on #153
@jgadsden I'll add the suggestion to the OWASP github project 👍

[2020-08-14 05:08] andk123 commented on #152
Unfortunately, I am not able to reproduce the problem. Some of the issues I had in the past with similar releases were compatibility issues when installing Threat Dragon which were solved by using Right-click then "Troubleshoot compatibility" on Windows. Otherwise if the program is launching fine, and you are able to open the sample model, then I am not sure what is causing that. @dschadt brought

[2020-08-14 10:33] MichaelGissingNC opened #154 "Question: difference between AMD64 and X86 64 bit Debian packages"
Hi,

I was wondering if you could document the difference between AMD64 and X86 64 bit Debian packages.

At https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases I can only see

[code]

They also have different sizes, but just looking at this I don't know what the difference is and which I should use.

[2020-08-14 10:45] jgadsden commented on #154
Hello @MichaelGissingNC - it depends on the processor type in your Linux machine. If in doubt do you want to try the Linux AppImage? [OWASP-Threat-Dragon-1.2.0.AppImage](https://github.com/mike-goodwin/owasp-threat-dragon-desktop/releases/download/v1.2/OWASP-Threat-Dragon-1.2.0.AppImage)

[2020-08-14 10:50] MichaelGissingNC commented on #154
@jgadsden What's the difference? Debian only knows `amd64` and all I know is that `x86_64` usually is the same ISA as `amd64`.

[2020-08-14 10:58] jgadsden commented on #154
Hello @MichaelGissingNC - as far as I know the two packages are subtly different according to the type of hardware platform. Can you run `lscpu` and see what processor type you have?

For example on my machine:
[code]

I can modify the release notes to make this more clear

[2020-08-14 11:05] MichaelGissingNC commented on #154
@jgadsden It's x86_64 as well, but in Debian terminology this is `amd64` for packages. In all my encounters with architectures in recent years, these two are synonyms.

[2020-08-14 11:11] jgadsden commented on #154
Ah, I have had different experiences and need to use the correct package on my Trisquel box. I have updated the release notes, does this provide enough clarity in these notes? Happy to apply any changes that you want to see

[2020-08-14 11:44] MichaelGissingNC commented on #154
OK, I had a closer look at the packages, they also differ in installed files, installation target and dependencies.

Can you point me to the build scripts for the packages? Maybe I can figure out what the different packages are supposed to do.

[2020-08-14 11:53] jgadsden commented on #154
Sure, there are two files that determine this: `electron-builder.json` and `installer-lin.js`. If you see any tidy-ups then feel free to raise a pull-request.

Note that Mike's repos have been migrated to https://github.com/OWASP/threat-dragon-desktop and so any pull-request should be done in that repo

[2020-09-02 14:51] breezy2u opened #157 "Newby to Threat Diagrams"
I'm having trouble understanding the difference between the objects in the application and how they relate to my system diagram. Are my SQL servers a process or a store? What about a windows server? Or a web server? Or an LDAP server? Am I just an idiot?

[2020-09-02 15:03] asumupper commented on #157
SQL Servers are databases, qualifying as Data Stores. Windows servers, web servers and ldap servers are Processes.

[2020-09-02 18:33] jgadsden commented on #157
Hello @breezy2u , certainly you are not an idiot :-) because these are very good fundamental questions.

An SQL server may be represented by both a process and a data store, if both are part of the threat surface. A threat model is not a 1:1 correspondance to a system diagram - they are different perspectives on the same system, and they result in very different diagrams (usually).

There are vari

[2020-09-02 20:27] breezy2u commented on #157
Thank you! I will review the cheat sheet. I was able to find a sample web
application threat model and I think it may have cleared up some things for
me. I think I did a threat three a million years ago but I think I beered
those brain cells.

On Wed, Sep 2, 2020 at 1:34 PM Jon Gadsden <notifications@github.com> wrote:

[2020-09-03 04:59] #157 closed, assigned to nobody

[2020-09-03 20:15] lmcthbe opened #159 "2 ways data flow"
A two ways data flow should be available when diagramming

[2020-09-03 21:25] jgadsden commented on #159
Hello @lmcthbe - this is a good request. We have migrated the Threat Dragon repositories to the OWASP organisation areas, and there is an issue there:
https://github.com/OWASP/threat-dragon-core/issues/2
that also requests bidirectional data flow. This is difficult with our existing jointjs drawing package, and there are plans to move to draw.io , which supports the 2-way data flow. This is expect

[2020-09-04 11:33] lmcthbe commented on #159
@jgadsden Thanks for the answer and nice adding to TD in 1.3 with LINDDUN. BTW, TD is not anymore a trusted app by Windows Defender. Keep up the good work

[2020-09-04 11:53] jgadsden commented on #159
Thanks, @lmcthbe , LINDDUN seems a popular addition.
Do you want to raise an issue for TD not being a Windows Defender trusted app? The place for this issue would be:
https://github.com/OWASP/threat-dragon-desktop/issues
and you get github credit for doing so ;-)

The reason it is no longer trusted is that the signing private key is bound to Mike Goodwin's computer (if I understand correctly @mike

[2020-09-04 12:38] breezy2u opened #160 "Report?"
I'm using the desktop version and I need to make a report based on my threat model. The directions say their should be a report button, but I don't see one. Can someone help?
![image](https://user-images.githubusercontent.com/30732489/92240076-a4b8fc80-ee81-11ea-9c61-f01cda90921d.png)

[2020-09-04 12:54] jgadsden commented on #160
Hello @breezy2u , what you need to do is save your diagram (the right hand button of the seven diagram buttons) and then exit from the diagram (the second button of the seven diagram buttons, marked with a cross).
You will then be returned to the project overview page, on which there is a report button - and take it from there :-)
Hope this helps, Jon
(BTW, version 1.3 came out yesterday, https://

[2020-09-04 12:56] breezy2u commented on #160
Ok. So I close it to make the report. Got it. Thank you!

On Fri, Sep 4, 2020 at 7:54 AM Jon Gadsden <notifications@github.com> wrote:

[2020-09-04 12:57] breezy2u commented on #160
Anything specifically special about the new version that I should upgrade
before the report?

On Fri, Sep 4, 2020 at 7:54 AM Jon Gadsden <notifications@github.com> wrote:

[2020-09-04 12:58] jgadsden commented on #160
You are welcome! Do you want to close the issue?
The new version is more stable, but the big difference is the beginnings of support for LINDDUN and CIA, alongside STRIDE. The report feature stays the same

[2020-09-04 13:06] breezy2u commented on #160
sure

On Fri, Sep 4, 2020 at 7:58 AM Jon Gadsden <notifications@github.com> wrote:

[2020-09-04 13:07] breezy2u commented on #160
oh wait!

On Fri, Sep 4, 2020 at 7:54 AM Jon Gadsden <notifications@github.com> wrote:

[2020-09-04 13:08] breezy2u commented on #160
I closed the project but I still don't see a report button

On Fri, Sep 4, 2020 at 7:54 AM Jon Gadsden <notifications@github.com> wrote:

[2020-09-04 13:09] breezy2u commented on #160
nevermind. I'm a dummy. I found it.

On Fri, Sep 4, 2020 at 7:54 AM Jon Gadsden <notifications@github.com> wrote:

[2020-09-15 20:00] bigbrett commented on #141
+1 for this issue. This isn't just a MacOS issue too, the feature doesn't exist in the Linux App Image either

[2020-09-29 07:30] haishan-wu opened #166 "can't open local file"
dear  writer：
    I used owasp-threat-dragon-desktop on win10  , i can saved file ,but i can't open it again.

[2020-09-29 08:17] jgadsden commented on #166
Hello @haishan-wu , this depends on your Windows configuration, but for my Windows10 machine the default locationn is in the 'Documents' folder. Could you see if it is in the equivalent folder on your machine?

Otherwise search for 'new-model.json' to find it, or whatever filename you used.

Are you using the latest version 1.3? It can be found here:
https://github.com/OWASP/threat-dragon-desktop/

[2020-09-29 08:19] jgadsden commented on #166
This could be added to the FAQs?

[2020-09-29 08:19] #166 closed, assigned to nobody

[2020-11-05 20:28] gobrtg opened #167 "Blank storage on crash"
It seems that ThreatDragon nulls out a model when crashing. I had just made a model a couple of days ago, stored and everything looked fine. At some point when I wasn't at my computer the Dragon crashed leaving the json file completely blank.

Nearly blank that is:

{
  "summary": {
    "title": "New Threat Model"
  },
  "detail": {
    "contributors": [],
    "diagrams": []
  }
}

[2020-11-05 22:05] jgadsden commented on #167
Hello @gobrtg - sorry to hear that TD crashed on you. What version were you running, and what operating system?

The json you list is the new and empty threat model that TD creates when needed, with a default file name of new-model.json. Did you save your threat model as a different file name?

[2020-11-06 05:40] gobrtg commented on #167
Hey jgadsden, thanks for the quick response.
I had saved the file, and opened it again several times with no big issues. The version I'm running is 1.2.0 on Win10.

[2020-11-06 06:41] jgadsden commented on #167
Hello @gobrtg - could you upgrade to version 1.3.1 ? I think there was an issue where there was a possibility that the model could be overwritten in version 1.2 and earlier ... but I can not remember which issue it was (I am getting old ;-) )

The updates can be found here:
https://github.com/OWASP/threat-dragon-desktop/releases

Sorry again to hear about the loss of your work, I know how aggravat

[2020-11-06 07:31] gobrtg commented on #167
Ok, thanks a lot jgadsden. Yeah, not a good feeling when it sinks in. But, I'll give it another try. Even though it has some short comings, I like the ThreatDragons simplicity. So thanks to all of you guys laying down the hours to deliver this to the community, and keep up the good work. If all goes well and I'll continue to use the Dragon I'll post issues as I go along.

[2020-11-06 07:31] #167 closed, assigned to nobody

[2020-11-08 14:36] ypid commented on #160
Seems there is no way to close the issue via email. Can somebody close it :) ?

[2020-11-08 18:31] jgadsden commented on #160
sure, I can close this ... done 👍

[2020-11-08 18:31] #160 closed, assigned to nobody

[2021-03-04 11:49] dewil-official commented on #152
Just had the same issue. Downgrading to 1.1 didn't work. Fresh installation on Windows 10 (latest build)

I managed to fix it by accident by not storing the file on my NAS, but on a local drive. Seems like the tool cannot handle local network paths? At least not for opening the diagram-editor.

[2021-03-04 17:45] jgadsden commented on #152
Hello @dewil-official - thanks for investigating why it was not working. I must admit that I do not test for network drives, so had not seen this issue. We are planning version 2.0 of Threat Dragon for later this year so we can make sure we test  for this on the new version.

Thanks again, Jon